 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List Common Libraries for Data Science
- List Data Science Tools
- Assess a few Examples for evaluating Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. Swift
8. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Scrapy
5. Matplotlib
6. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| VS Code |
| Jupyter Lab |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author: 
James Nyakomitta